@import '~@/assets/css/variable.less';

.rightContent::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.rightContent {
  width: '84%';
  float: 'right'
}

.rightBottom::-webkit-scrollbar {
  display: none;
}

.rightBottom {
  background-color: red;
}
